.header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem 1rem;
  background-color: #101820;
  width: 100%;
  box-sizing: border-box;
  gap: 1rem;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-icon-1 {
  background-color: transparent;
  display: flex;
  width: 45px;
  height: auto;
  position: relative;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  flex-shrink: 0;
}

.center-section {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  min-width: 0;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.search-wrapper {
  margin-left: 10rem;
}

.profile-cart a {
  text-decoration: none;
  font-weight: bold;
}

.profile-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile a {
  color: #f4f3f3;
}

.profile a:active {
  color: #bbb;
}

.profile:hover,
.my-orders:hover,
.sign-up:hover,
.cart-icon:hover,
.my-addresses:hover {
  transform: scale(0.98);
}

.my-orders a {
  color: #f4f3f3;
  text-decoration: none;
  font-weight: bold;
}

.my-addresses a:active {
  color: #bbb;
}

.my-addresses a {
  color: #f4f3f3;
  text-decoration: none;
  font-weight: bold;
}

.my-orders a:active {
  color: #bbb;
}

.sign-up {
  color: #f4f3f3;
  text-decoration: none;
  font-weight: bold;
}

.sign-up:active {
  color: #bbb;
}

.login {
  color: #f4f3f3;
  text-decoration: none;
  font-weight: bold;
}

.login:active {
  color: #bbb;
}

.cart-icon {
  width: 22px;
  height: auto;
  position: relative;
  top: 2px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
