.orders-grid {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.orders-card {
  border: 1px solid #ccc;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.2s ease;
}

.items-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.1rem;
  gap: 1px;
}

.item-order-title {
  font-size: 1.4rem;
  color: #171717;
  font-weight: 500;
  padding: 0.1rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.items-length-2 {
  background-color: #e0e0e0;
  color: #333;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  display: inline-block;
  margin-left: 0.6rem;
  margin-top: 1.4rem;
  box-shadow: inset 0 0 0 1px #ccc;
}

.product-photo {
  cursor: pointer;
  width: 200px;
  height: auto;
  margin-bottom: 0.1rem;
}

.flex-photo-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plus-item-order {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #e0e0e0;
  color: #333;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  height: 4rem;
  font-weight: bold;
  cursor: pointer;
}

.items-length {
  padding-top: 0.6rem;
  font-weight: bold;
  margin: 0;
}

.items-expression {
  margin: 0;
  padding: 0;
}

.order-address-flex,
.order-status-flex {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  gap: 0.8rem;
}

.order-address-desc,
.order-status-desc {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  margin: 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}

.order-address-desc p,
.order-status-desc p {
  margin: 0;
  padding: 0;
}

.order-address-title,
.order-status-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #1d1d1d;
}
